.DS_Store
._*

# Ignoriere Build-Dateien und temporäre Daten
Docker/**/*.log
Docker/**/*.db
Docker/**/*.wasm
Docker/**/*.js.map

# Ignoriere generell temporäre und generierte Dateien
*.log
*.db
*.wasm
*.asv

# Ignoriere node_modules in proxy
Docker/proxy/node_modules/
Docker/proxy/node_modules/*

http_to_mqttproductionServerArchive/
http-to-mqttmicroserviceDockerImage/

Matlab_requestproductionServerArchive/
Matlab-requestmicroserviceDockerImage/

synchronize_matlab_edge_dataproductionServerArchive/
synchronize-matlab-edge-datamicroserviceDockerImage/

Messung_gui_12plots.mlapp
SettingsApp_gui.mlapp

Daten_synchronisieren/

MatlabDaten.mat
MatlabDaten_verrechnet.mat
EdgeDaten.mat
MatlabDaten_synchronized.mat

TestSkripte/

**/*productionServerArchive*/
**/*microserviceDockerImage*/